<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿을 등록함  -->
  <servlet>
  <!-- 서블릿 이름 등록하기. -->
  	<servlet-name>HelloServlet</servlet-name>
  	<!-- 서블릿 클래스 이름(패키지명은 포함하는 풀네임을 등록해야함. -->
  	<servlet-class>web.HelloServlet</servlet-class>
  </servlet>
  
  <!-- 사용자 요청 url 등록함 -->
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
</web-app>