*{
    margin: 0;
    padding: 0;
    list-style: none;
}

select{
    width: 100%;
    appearance: none;
    -webkit-appearance : none;
    -moz-appearance: none;
    background: url(../images/sel_arr_2x.gif) no-repeat 100% 50%;
    background-size: 20px;
    font-size: 16px;
}

body{
    background-color: #F5F6F7;
    font-family: 'Nanum Gothic', sans-serif; 
}

#wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}

header{
    padding-top: 50px;
    text-align: center;
}


header .logo img{
    width: 240px;
}

#main_wrapper{
    margin: 50px auto 0 auto;
    padding: 0 15px;
    width: 500px;
}

#main_wrapper .signup_list{
    margin-bottom: 40px;
}
#main_wrapper .signup_list label{
    display: block;
    font-weight: bold;
}

#main_wrapper .input_box{
    padding: 15px 20px 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #bbb;
    
}

#main_wrapper .input_box input,select{
    height: 25px;
    border: none;
}
#main_wrapper .input_box input[type=text]{
    width: 100%;
}
#main_wrapper .reg_id .input_box::after{
    display: inline-block;
    margin-left: 10px;
    color: #aaa;
    content:'@naver.com';
}
#main_wrapper #signup_id{
    width: 350px;
}

#main_wrapper .reg_pw input,#main_wrapper .reg_repw input{
    width: 420px;
    margin-right: 15px;
}

#main_wrapper .reg_pw .input_box::after{
    display: inline-block;
/*    float:right;*/
    width: 18px;
    height: 20px;
    background: url(../images/pc_icon_pass_180417.png);
    vertical-align: middle;
    content:'';
}
#main_wrapper .reg_repw .input_box::after{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../images/pc_icon_check_disable_180417.png);
    content:'';
    vertical-align: middle;
}
#main_wrapper .input_wrapper{
    margin-top: 5px;
}
#main_wrapper .input_wrapper::after{
    display: block;
    clear: both;
    content:'';
}
#main_wrapper .birth_list{
    float: left;
    padding: 15px 20px;
    width: 118px;
    background-color: #fff;
    border: 1px solid #bbb;
    margin-right: 10px;
}
#main_wrapper .birth_list:last-child{
    margin-right: 0;
}

#main_wrapper .birth_list input,#main_wrapper .birth_list select{
    width: 100%;
    border: none;
}

#main_wrapper .birth_list input{
    height: 25px;
}
#main_wrapper .birth_list{
    height: 29px;
    
}


#main_wrapper .signup_list span{
    font-size: 12px;
    font-weight: lighter;
    
}

#main_wrapper .input_box.number{
    display: inline-block;
    width: 310px;
    margin-right: 10px;
}
#main_wrapper .number_btn{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 15px 13px;
    vertical-align: middle;
    color: #fff;
    background-color: #09a600;
    border: none;
}

#main_wrapper .input_box.disable{
    background-color: #EBEBE4;
}
#main_wrapper .btn_list input{
    padding: 20px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px
}
#main_wrapper .btn_list input[type=submit]{
    background-color: #09A600;
}

#main_wrapper .signup_list p{
    font-size: 12px;
}

footer{
    margin: 30px auto;
    width: 500px;
    font-size: 12px; text-align: center;
}
footer .policy{
    display: inline-block;
    text-align: center;
}
footer .policy::after{
    display: block;
    clear: both;
    content: '';
}
footer .policy li{
    float: left;
    margin-right: 10px;
}
footer .policy li a{
    margin-right: 10px;
}
footer .policy li a:visited{
    color: currentColor;
}
footer .copyright{
    margin-top: 10px;
    font-size: 10px;
}
footer .copyright img{
    margin-right: 5px;
    vertical-align: middle;
}
footer .copyright em{
    font-style: normal;
    font-weight: bold;
}
